/* semantic color variables for this project */
:root {
  --color-background: rgb(25, 27, 29);
  --color-container-background: rgb(43, 48, 54);

  --color-background: rgb(43, 48, 54);
  --color-container-background: rgb(25, 27, 29);

  --color-heading:#ffffff;
  --color-text: rgba(235, 235, 235, 0.64);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100svh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #888;
  background: var(--color-container-background);
}

::-webkit-scrollbar-button {
  height: 10px;
}
*/

html {
  scrollbar-color: var(--color-container-background) var(--color-background);
}

/*
::-webkit-scrollbar {
  background: aquamarine;
}
::-webkit-scrollbar-thumb {
  background: cornflowerblue;
}
*/